MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme123
MINIO_SERVER_URL=https://s3.selys.app
MINIO_BROWSER_REDIRECT_URL=https://minio.selys.app

# Noms des buckets
PRIVATE_BUCKET=private
PUBLIC_BUCKET=public
