MINIO_ROOT_USER=dev.selys-africa
MINIO_ROOT_PASSWORD=JjSJWms_qRMkp#vQMQ
MINIO_SERVER_URL=https://s3.v2.selys.app
MINIO_BROWSER_REDIRECT_URL=https://minio.v2.selys.app

# Noms des buckets
PRIVATE_BUCKET=private
PUBLIC_BUCKET=public