# Secrets GarageHQ (générer avec: openssl rand -hex 32)
GARAGE_RPC_SECRET=changeme_rpc_secret_hex_32_bytes
GARAGE_ADMIN_TOKEN=changeme_admin_token
GARAGE_METRICS_TOKEN=changeme_metrics_token

# Clé API
GARAGE_API_KEY_NAME=selys-key

# Noms des buckets
PRIVATE_BUCKET=private
PUBLIC_BUCKET=public
